/* styles.css */
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "Symtext";
  src: url("fonts/symtext/Symtext.ttf") format("truetype");
}

body {
  height: 100%;
  margin: 0;
  background: black;
  color: white;
  font-family: "Symtext", cursive;
  display: flex;
  justify-content: center;
  letter-spacing: 0; /* em의 뜻은 현재 폰트의 글자 크기를 의미한다. */
  align-items: center;
}

.title-pong {
  font-size: 36px;
}

.title-classic {
  font-size: 24px;
}

.container {
  text-align: center;
}

footer p {
  font-size: 1em;
  position: f
  bottom: 10px;
  width: 100%;
  text-align: center;
}
