/* 폰트 */
@font-face {
  font-family: 'Symtext';
  src: url('fonts/Symtext.ttf') format('truetype');
}

/* 기본 스타일 */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 전체 스타일 */
body {
  background: #171717;
  color: #faf2dd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 숨김 클래스 */
.hidden {
  display: none;
}

/* 전체 화면 */
.full-screen {
  display: flex;
  width: 100vw; /* 전체 너비를 차지하도록 설정 */
}

/* 사이드바 */
.side-bar {
  flex-shrink: 0; /* 창 크기가 줄어들어도 사이드바의 크기가 줄어들지 않도록 설정 */
  height: 100vh; /* 전체 높이를 차지하도록 설정 */
  width: 8vw;
  min-width: 75px; /* 사이드바의 최소 너비 */
  max-width: 150px; /* 사이드바의 최대 너비 */
  background-color: #282828; /* 사이드바 배경색 */
  display: flex; /* Flexbox를 사용하여 자식 요소들을 가로로 나열 */
  flex-direction: column; /* 자식 요소들을 세로로 나열 */
  justify-content: space-between;
  align-items: center; /* 세로 방향으로 중앙 정렬 */
}

/* 사이드바 메뉴 */
.menu-item {
  width: 45px;
  height: 45px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 95px;
  border-radius: 10px;
}

/* 사이드바 아이콘 */
.home,
.games,
.tournament,
.logout {
  background-color: transparent;
}

/* 사이드바 아이콘 예외 */
.home,
.logout {
  margin-bottom: 40px;
}

/* 메인 화면 */
.main-box {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* 프로필 */
.profile-box {
  background-color: #131313;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 7vh;
  padding: 10px;
  border-radius: 20px;
}

/* 프로필 이미지 */
.profile-image {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

/* 프로필 닉네임 */
.profile-nickname {
  color: white;
  font-size: 24px;
  white-space: nowrap; /* 닉네임이 한 줄로 표시되도록 설정 */
  overflow: hidden; /* 너비를 초과하는 내용은 숨김 */
  text-overflow: ellipsis; /* 너비를 초과하는 내용은 ...으로 표시 */
}

/* 게임 인터페이스 화면 */
.game-box {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: black;
  font-family: 'Symtext', cursive;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 80vw;
  text-align: center;
}

/*@media only screen and (max-width: 940px), only screen and (max-height: 660px) {*/
/*  .game-box::after {*/
/*    content: 'Screen is too small to play Pong!';*/
/*    display: block;*/
/*    background-color: gray;*/
/*    color: rgb(242, 242, 242);*/
/*    text-align: center;*/
/*    font-size: 24px;*/
/*    padding: 10px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*  }*/
/*}*/

/* 화면 상단  PONG/n CLASSIC */
.header-pong {
  font-size: 12vh;
  margin-bottom: -20px;
  margin-left: 4px;
  letter-spacing: 2px;
}

/* 게임메뉴 화면 상단 classic */
.header-classic {
  font-size: 7vh;
  margin-top: -20px;
  margin-bottom: 20px;
  letter-spacing: 4px;
}

/* 게임메뉴 화면 중앙 */
.player-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* 게임메뉴 화면 중앙 플레이어 옵션 */
.player-option {
  cursor: pointer;
  margin: 0 6vw;
  font-size: calc((3vh + 3vw) / 2);
  min-width: 0; /* 최소 너비를 0으로 설정하여 내용에 관계없이 동일한 너비를 가지도록 함 */
  flex: 1 1 0; /* flex-grow, flex-shrink, flex-basis */
  padding: 3vw;
  text-align: center;
  white-space: nowrap;
}

/* 게임메뉴 화면 중앙 선 */
.divider {
  width: 4px; /* divider의 너비 설정 */
  height: 40vh; /* divider의 높이 설정 */
  margin-right: 15px;
  flex: 0 0 4px;
  /* margin-right: 15px; */
  flex-shrink: 0;
  background-image: linear-gradient(rgb(242, 242, 242) 50%, transparent 50%);
  background-size: 4px 96px; /* 점선의 크기와 간격 설정 */
}

/* 게임 화면 하단 */
footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

/* 모달 */
.modal {
  display: none; /* 모달을 기본적으로 숨깁니다 */
  position: fixed; /* 화면 중앙에 고정 */
  z-index: 1; /* 다른 요소 위에 표시 */
  left: 0;
  top: 0;
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  overflow: auto; /* 필요시 스크롤바 추가 */
  background-color: rgb(0, 0, 0); /* 백그라운드 색상 */
  background-color: rgba(0, 0, 0, 0.4); /* 투명도 추가 */
}

/* 모달 내용 */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 페이지 중앙에 위치 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 모달 너비 */
}

/* 현재는 임의로 CSS를 설정한 상황 
 * 반응형으로 변경하기 위해 고정값을 모두 대체해야 한다.
*/

/* 게임 플레이 화면 */
.board {
  height: 85vh;
  width: 80vw;
  /* background-image: linear-gradient(to right, #5c6e91, #839b97); */
  background-color: black; /* 검은색 배경으로 변경 */
  border-radius: 14px;
  display: flex;
  position: relative;
  justify-content: center;
  /* background-color: black; 검은색 배경으로 변경
  border-radius: 14px;
  position: relative; */
}

/* 공 */
.ball {
  height: 30px;
  width: 30px;
  /* border-radius: 50%; */
  /* position: fixed;
  top: calc(50%);
  left: calc(50%); */
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

/* 공 효과 */
.ball_effect {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background: rgb(242, 242, 242);
  /* animation: spinBall 0.1s linear infinite;
  box-shadow: inset 0 0 18px #fff, inset 6px 0 18px violet,
    inset -6px 0 18px #0ff, inset 6px 0 30px violet, inset -6px 0 30px #0ff,
    0 0 18px #fff, -4px 0 18px violet, 4px 0 18px #0ff; */
}

/* @keyframes spinBall {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

/* 패들 */
.paddle {
  height: 100px;
  width: 18px;
  /* border-radius: 50%; */
}

/* 패들 1 */
.paddle_1 {
  top: 10px;
  left: 10px;
  background: rgb(242, 242, 242);
  position: absolute;
  /* box-shadow: inset 0 0 18px #fff, inset -6px 0 18px #f3bad6,
    inset 6px 0 18px #0ff, inset -6px 0 30px #f3bad6, inset 6px 0 30px #0ff,
    0 0 18px #fff, 4px 0 18px #f3bad6, -4px 0 18px #0ff; */
}

/* 패들 2 */
.paddle_2 {
  top: 1%;
  right: 1%;
  background: rgb(242, 242, 242);
  position: absolute;
  /* box-shadow: inset 0 0 18px #fff, inset 6px 0 18px #f3bad6,
    inset -6px 0 18px #0ff, inset 6px 0 30px #f3bad6, inset -6px 0 30px #0ff,
    0 0 18px #fff, -4px 0 18px #f3bad6, 4px 0 18px #0ff; */
}

/* 점수 1, 2 스타일 중복 됨 */
/* 점수 1 */
.player_1_score {
  /* height: 50px;
  width: 50px; */
  color: chartreuse;
  position: absolute;
  left: 20%;
  margin: 30px;
}

/* 점수 2 */
.player_2_score {
  /* height: 50px;
  width: 50px; */
  color: chartreuse;
  position: absolute;
  right: 20%;
  margin: 30px;
}

/* 메시지 */
.message {
  position: absolute;
  /* color: #48426d; */
  height: 10vh;
  width: 30vw;
  color: rgb(242, 242, 242);
  /* left: 38vw; */
  margin: 30px;
}

/*
.board .divider {
  width: 4px;
height: calc(100% - 12vh);
top: 12vh;
position: absolute;
margin-right: 0px;
flex-shrink: 0;
background-image: linear-gradient(rgb(242, 242, 242) 50%, transparent 50%);
background-size: 4px 96px;
}
*/

.obstacle {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
}
