* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #171717;
  color: #faf2dd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.login {
  color: #fefdfe;
}

/* .app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.full-screen {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
