.game-box {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: black;
  font-family: 'Symtext', cursive;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 80vw;
  text-align: center;
}

@media only screen and (max-width: 380px), only screen and (max-height: 280px) {
  .game-box::after {
    content: 'Screen is too small to play Pong!';
    display: block;
    background-color: gray;
    color: rgb(242, 242, 242);
    text-align: center;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header-pong {
  font-size: 12vh;
  margin-bottom: -20px;
  margin-left: 4px;
  letter-spacing: 2px;
}

.header-classic {
  font-size: 7vh;
  margin-top: -20px;
  margin-bottom: 20px;
  letter-spacing: 4px;
}

.player-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.player-option {
  cursor: pointer;
  margin: 0 6vw;
  font-size: calc((3vh + 3vw) / 2);
  min-width: 0;
  flex: 1 1 0;
  padding: 3vw;
  text-align: center;
  white-space: nowrap;
}

.divider {
  width: 4px;
  height: 40vh;
  margin-right: 15px;
  flex: 0 0 4px;
  flex-shrink: 0;
  background-image: linear-gradient(rgb(242, 242, 242) 50%, transparent 50%);
  background-size: 4px 96px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
