.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-body {
  padding: 2rem;
}

.modal-body .form-control {
  background-color: #121212;
  border: none;
}

.modal-body .form-check-input {
  background-color: #121212;
  border-color: #121212;
}

.btn-success {
  background-color: #28a745;
}

.modal-footer .btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}

.form-check-input:focus {
  border-color: #8fd19e;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.modal-content {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

#email2faModal .form-control {
  background-color: #121212;
  color: #fff;
  border: none;
}

#gameSettingModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tournamentSettingModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
