/* 프로필 박스 스타일링 */
.profile-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3개의 열을 생성 */
  grid-template-rows: repeat(3, 1fr); /* 3개의 행을 생성 */
  height: 90vh; /* 뷰포트 높이에 맞춤 */
  width: 90vw; /* 뷰포트 너비에 맞춤 */
  background-color: green; /* 배경색 설정 */
}

/* 왼쪽 컬럼 스타일링 */
.player-profile,
.player-history,
.friend-list,
.friend-request,
.setting {
  /* align-self: start; */
  background-color: darkgreen;
  border: 1px solid #000; /* 경계선을 확인하기 위해 추가 */
}

/* 
.blank-div {
  position: inherit;
  height: calc(33.3333% - 20px);
  margin: 10px;
  background-color: transparent;
} */
