/* 폰트 */
@font-face {
  font-family: 'Symtext';
  src: url('../fonts/Symtext.ttf') format('truetype');
}

/* 기본 스타일 */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 전체 스타일 */
body {
  background: #171717;
  color: #faf2dd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 숨김 클래스 */
.hidden {
  display: none;
}

/* 전체 화면 */
.full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* Bootstrap 오버로딩 스타일 */

.btn.btn-outline-light {
  background-color: #131313;
}
.btn.btn-outline-light:hover {
  background-color: white;
}

.setting-option .btn.btn-success {
  background-color: #198754;
}
.setting-option .btn.btn-success:hover {
  background-color: #157347;
}

.setting-option .btn.btn-danger {
  background-color: #dc3545;
}
.setting-option .btn.btn-danger:hover {
  background-color: #bb2d3b;
}
